@page
@model ScheduleWebApp.Pages.MobileApplicationModel
@{
}

<h3 class="title title-purple-theme-@(ViewData["ThemeName"]  != null ? ViewData["ThemeName"] : "light")">Мобильное приложение</h3>
<a href="~/files/mobile-app.apk" class="title title-purple-theme-@(ViewData["ThemeName"]  != null ? ViewData["ThemeName"] : "light")">Android</a>